.team {
    @extend %of-hidden;
    @include background-cover;

    &__item {
        @extend %of-hidden,
        %p-30;
        @include add-prefix(transition, $transition);
        border-radius: 4px;
        text-align: center;
        background-color: $offwhite-color;

        &:hover {
            .team {
                &__inner {
                    &::after {
                        opacity: 1;
                    }
                }

                &__thumb {
                    img {
                        @include add-prefix(transform, rotate(5deg));

                    }
                }
            }
        }
    }

    &__inner {
        @extend %p-rel;

        &:after {
            @extend %p-abs,
            %w-100;
            @include add-prefix(transform, translateX(-50%));
            @include add-prefix(transition, $transition);
            background-image: url(../images/speciality/shape.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: -10px;
            left: 45%;
            height: 50%;
            z-index: -1;
            opacity: .1;
        }
    }

    &__thumb {
        @extend %of-hidden,
        %mb-30;

        img {
            @extend %d-inline-block;
            @include add-prefix(transition, $transition);
        }
    }

    &__content {
        @extend %p-rel;
        z-index: 1;

        h5 {
            a {
                color: $title-color;
            }
        }

        p {
            color: #555;
            @include font-size(16px);
        }

        .social {
            @extend %justify-center;

            &__link {
                @include box(20px);
                line-height: 20px;


                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}